body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }


.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

#informations {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#informations h2 {
  color: #333;
  font-size: 28px;
}

#informations p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

#informations button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

#explanations {
  margin-top: 10px;
  font-style: italic;
}

#inscription {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#inscription h2 {
  color: #333;
  font-size: 28px;
}

#inscription form {
  display: flex;
  flex-direction: column;
}

#inscription label {
  color: #555;
  font-size: 16px;
  margin-top: 10px;
}

#inscription input,
#inscription select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#inscription button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}


  